@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@500;700&family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto';
}

:root {
    /**** default site colors ****/
    --clr-blue: #274C5B;
    --clr-green: #7EB693;
    --clr-yellow: #EFD372;
    --clr-gray: #D4D4D4;
    --clr-black: #525C60;
    --clr-white-gray: #F9F8F8;
    --clr-white-green: #EFF6F1;
    --clr-search-background: #FAFAFA;
    /*****************************/

    /********* defalut site fonts  *********/
    --ff-roboto: 'Roboto';
    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-italic: 'Yellowtail';
    /***************************************/
}

/****************************** default hover effect for buttons ********************************/

.nav-cart-box,
button, input {
    transition: 250ms ease all;
}

.nav-cart-box:hover,
button:hover {
    cursor: pointer;
    box-shadow: -5px 3px 5px #e0dddd;
}
/************************************************************************************************/


/*********** global hover effect section *************/
header a,
header label,
footer a {
    transition: 250ms ease all;
}

header label:hover,
header a:hover,
footer a:hover {
    cursor: pointer;
    color: #b7f3cd;
    text-shadow: 0px 2px 2px black, 0 0 10px var(--clr-black), 0 0 5px var(--clr-gray);
    /* text-shadow: -1px 1px 5px #91dbefb5; */
}

.site-logo-box:hover .site-name {
    cursor: pointer;
    color: #88f5b0;
    text-shadow: 0px 1px 1px black, 0 0 10px var(--clr-black), 0 0 5px var(--clr-green);
}

.site-logo-box:hover .site-logo {
    filter: invert(25%) sepia(52%) saturate(416%) hue-rotate(151deg) brightness(50%) contrast(94%) drop-shadow(0px 1px 4px #fff) drop-shadow(0 0 2px var(--clr-white-green)) drop-shadow(0 0 3px var(--clr-green));
}

/*********************************** header styless part ******************************************/

.default-site-header {
    width: 100%;
}


/************************** navigation bar ************************/

/* peace of code from footer */
.default-site-footer-box, .footer-copyright,
/* peace of code from footer */

.nav-box-1, .text-nav-box,
.nav-box-2, .nav-search-box,
.nav-cart-box, .site-logo-box,
.select-box,
.default-site-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************ site logo style ***********/

.site-logo-box {
    gap: .5vw;
}

.site-logo {
    transition: 200ms all ease;
    width: 1.9vw;
    height: auto;
}

/****************************************/

.nav-box-1 {
    gap: 8vw;
}

.nav-box-2 {
    gap: min(2vh, 1vw);
}

.text-nav-box {
    gap: 2vw;
}

.select-box {
    gap: .4vw;
}

.default-site-nav {
    justify-content: space-between;
    width: 100%;
    height: min(10.5vw, 20vh);
    padding: 6vh 8vw;
}

.site-name {
    color: var(--clr-blue);
    font-family: 'Roboto';
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: 200ms ease all;
}

.text-nav {
    color: var(--clr-blue);
    font-family: 'Roboto';
    font-size: max(.6rem, 1.1vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.select-text {
    color: var(--clr-blue);
    font-family: 'Roboto';
    font-size: .7vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#pages {
    color: var(--clr-blue);
    position: relative;
    width: min(.6rem, .9vw);
    height:  min(.6rem, .9vw);
    background-color: transparent;
}

/************* search box ***************/

.search-box {
    position: relative;
}

.search-input {
    width: min(19.5vw, 37.5vh);
    height: min(6.5vh, 3.45vw);
    /* width: 19.5vw;
    height: 3.45vw; */
    background-color: var(--clr-search-background);
    border-radius: 5000px;
}

.search-input:hover {
    box-shadow: -2px 1px 10px #eae7e7ce;
}

.search-button {
    position: absolute;
    right: min(.3vw, .5vh);
    bottom: min(.4vh, .25vw);
    /* right: .3vw;
    bottom: .25vw; */
    width: min(2.93vw, 5.62vh);
    height: min(2.93vw, 5.62vh);
    /* width: 2.93vw;
    height: 2.93vw; */
    border-radius: 50%;
    background-color: var(--clr-green);
}

.search-icon {
    width: min(1.15vw, 2.21vh);
    height: min(1.1vw, 2.099vh);
}

/****************************************/

/************** cart box ****************/

.nav-cart-box {
    padding: min(.3vw, .5vh);
    justify-content: space-between;
    width: min(16vh, 8.36vw);
    height: min(6.5vh, 3.45vw);
    border-radius: 33px;
    border: 1px solid #E0E0E0;
}

.cart-count-text {
    color: var(--clr-blue);
    font-family: 'Roboto';
    font-size: min(1.9vh, 1vw);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 1.5vh;
}

.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(2.93vw, 5.62vh);
    height: min(2.93vw, 5.62vh);
    border-radius: 50%;
    background-color: var(--clr-blue);
}

.cart-icon > img {
    width: min(1.55vw, 2.31vh);
    height: min(1.4vw, 2.299vh);
}

/******************************************************************/

/************************ container styless ***********************/

.header-container {
    width: 100%;
    height: calc(100vh - min(10.5vw, 20vh));
    background-color: var(--clr-white-green);
}

/**************************************************************************************************/


/* START OF ABOUT US PAGE */

/* baner style start */

#hamid-casual-button{
    display: flex;
    width: min(14vw, 225px);
    height: min(80px, 4vw);
    justify-content: center;
    align-items: center;
    gap: 5%;
    border-radius: .9vw;
    background: #274C5B;
    color: #FFF;
    font-family: var(--ff-roboto);
    font-size: min(20px, 1.5vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#hamid-casual-button:hover {
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.25);
}
.hamid-header-container {
    width: 100%;
    background-color: #fff;
}
.hamid-head-baner {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid-head-img {
    height: auto;
    width: 100%;
}
.hamid-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */


/* plate section style start */

.hamid-my-container {
    width: 70%;
    margin: 0 auto;
}

.hamid-plate-box {
    padding-top: 4%;
    padding-bottom: 5vh;
    display: flex;
    width: 100%;

}


.hamid-plate-img {
    width: 50%;
    height: 100%;
    /* left: -30%; */
    position: relative;
}
.hamid-plate-img>img {
    left: -50%;
    position: relative;
    width: 150%;
    height: auto;
}

.hamid-plate-txt {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 100%;
    max-width: 50%;
}
.hamid-hamid-offers,
.hamid-experts,
.hamid-veg-background,
.hamid-my-container h3{
    color: var(--clr-green);
    font-family: var(--ff-italic);
    font-size: min(9vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.hamid-big-p {
    color: var(--clr-blue);
    font-family: var(--ff-roboto);
    font-size: min(50px, 12vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hamid-small-p {
    margin-top: 2%;
    color: #525C60;
    font-family: var(--ff-open-sans);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}

.hamid-icon-section {
    margin-top: 5%;
    display: flex;
}
.hamid-tractor-part {
    gap: 2%;
    display: flex;
}

.hamid-tractor-part>span{
    color: #274C5B;
    font-family: var(--ff-roboto);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
}

.hamid-chemic-part {
    display: flex;
    gap: 2%;
}

.hamid-chemic-part>span {
    margin-left: auto;
    color: #274C5B;
    font-family: var(--ff-roboto);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 80%;
}

.hamid-plate-txt>button{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


/* end of plate section */




/* start of green vegetables */
.hamid-veg-background{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 140vh;
    padding-bottom: 10vh;
    background-color: var(--clr-white-gray);
}
.hamid-veg-background>.my-container {
    /* padding-top: 25vh; */
    height: auto;
}
.hamid-decide {
    padding-top: 10vh;
    width: 100%;
    display: flex;
    min-height: 50vh;

}

.hamid-decide-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    height: 100%;

}
.hamid-decide-img {
    margin: auto 0;
    width: 50%;

}
.hamid-decide-container-small {
    max-width: 75%;

}

.hamid-decide-span {
    font-size: min(20px, 1.5vw);
    margin-top: 5%;
    gap: 3%;
    display: flex;
    align-items: center;
    padding: 5% 10% 5% 5%;
    background-color: #ECECEC;;
    border-radius: 50px;
    width: 70%;
    

}
.hamid-decide-span>span{
    white-space: nowrap;
    color: #274C5B;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.hamid-p-last-child {
    margin-left: 14%;
}

.hamid-decide-img>img {
    object-fit: contain;
    border-radius: 5%;
    margin-left: 5%;
    width: 95%;
    height: auto;
}

.hamid-veg-grid-container {
    margin: 10vh auto;
    width: 80%;
    background-color: var(--clr-white-gray);
    height: 30vh;
}
.hamid-veg-grid-box {
    justify-content: center;
    height: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 2.7%;
}
.hamid-veg-grid-box > div {
    padding: 0px 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    height: 100%;
    background-color: #fff;

}

.hamid-icon-vegs {
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: var(--clr-white-gray);
    border-radius: 20%;
}
.hamid-icon-vegs>img {
    scale: 80%;

}

.hamid-hamid-offers,
.hamid-experts,
.hamid-veg-background,
.hamid-my-container h5{
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* end of green vegs section */


/* start of experts section */

.hamid-experts {
    min-height: 120vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.hamid-experts>.my-container{
    background-color: #fff;
    text-align: center;
}

.hamid-experts-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.hamid-experts-grid {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
}

.hamid-expert-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 55vh;
    background-color: var(--clr-white-gray);
    border-radius: 5%;
    transition: 250ms ease all;
}

.hamid-expert-box>img {
    object-fit: contain;
    border-radius: 5% 5% 0 0;
    width: 100%;

}

.hamid-expert-box h3 {
    text-align: left;
    font-size: 22px;
}

.hamid-experts-desc {
    padding: 5% 0 5% 7%;
}
.hamid-expert-socials{
    position: absolute;
    bottom: 4%;
    right: 9%;
    z-index: 1;
    white-space: nowrap;
}

.hamid-expert-socials a {
    margin-right: 10%;
}


.hamid-expert-socials a img {
    scale: 0.85;
}

.hamid-expert-box:hover{
    background-color: #fff;
    box-shadow: 0px 10px 100px 2px rgba(0, 0, 0, 0.25);
}
/* end of experts section */



.hamid-offers {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: var(--clr-blue);
}
 .hamid-offers .hamid-big-p {
    color: #fff;
 }


 .hamid-offers>.my-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30%;
 }
.hamid-offers-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

 .hamid-offers-grid-box {
    justify-content: center;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px  ;
    gap: 2.2%;
    margin-top: 3%;
    width: 100%;
    height: 380px;

 }

 .hamid-offers-box {
    min-width: 320px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;

 }


.hamid-offer-img {
    border-radius: 10%;
    background-color: white;
    width: 100%;
    height: 80%;
    position: relative;
}

.hamid-offer-img > img{
    border-radius: 10%;
    margin: 0 auto;
    /* position: absolute; */
    height: 100%;
    object-fit: contain;
}

.hamid-offers-box:nth-child(3)>.hamid-offer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}



.hamid-offers-box:nth-child(4)>.hamid-offer-img{
    display: flex;
    align-items: center;
    justify-content: center;
}



.hamid-offers-box:nth-child(4)>.hamid-offer-img {
    width: 100;
    background-color: white;

}

.hamid-offers-box>span{
    z-index: 1;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* END OF ABOUT US PAGE */

/* ------------------------------------------------------------------------ */


/* START OF SHOP PAGE */

.hamid4-header-container {
    width: 100%;
    background-color: var(--clr-white-green);
    height: auto;
}


/**************************************************************************************************/

/* baner style start */

.hamid4-head-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid4-head-img {
    height: auto;
    width: 100%;
}

.hamid4-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid4-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */


/* main start */

.hamid4-products-grid {
    padding: 5% 0;
    width: 100%;
    height: auto;
    display: grid;
    /* grid-template-columns: 310px 310px 310px 310px; */
    grid-template-columns: auto auto auto auto ;
    column-gap: 1.5%;
    row-gap: 2.5%;
}

.hamid4-my-container {
    width: 70%;
    margin: 0 auto;
}

.hamid4-products-grid>div {
    background: url(/img/shop/products/Photo-1.svg), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--clr-white-gray);
    position: relative;
    border-radius: 1.5vw;
    height: 480px;
    max-width: 340px;

}
.hamid4-products-grid>div:nth-child(2){
    background-image: url(/img/shop/products/Photo-2.svg);
}
.hamid4-products-grid>div:nth-child(3){
    background-image: url(/img/shop/products/Photo-3.svg);
}
.hamid4-products-grid>div:nth-child(4){
    background-image: url(/img/shop/products/Photo-4.svg);
}
.hamid4-products-grid>div:nth-child(5){
    background-image: url(/img/shop/products/Photo-5.svg);
}
.hamid4-products-grid>div:nth-child(6){
    background-image: url(/img/shop/products/Photo-6.svg);
}
.hamid4-products-grid>div:nth-child(7){
    background-image: url(/img/shop/products/Photo-7.svg);
}
.hamid4-products-grid>div:nth-child(8){
    background-image: url(/img/shop/products/Photo-8.svg);
}
.hamid4-products-grid>div:nth-child(9){
    background-image: url(/img/shop/products/Photo-9.svg);
}
.hamid4-products-grid>div:nth-child(10){
    background-image: url(/img/shop/products/Photo-10.svg);
}
.hamid4-products-grid>div:nth-child(11){
    background-image: url(/img/shop/products/Photo-11.svg);

}.hamid4-products-grid>div:nth-child(12){
    background-image: url(/img/shop/products/Photo-12.svg);
}
.hamid4-name{
    display: flex;
    padding: 2% 4%;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;
    position: absolute;
    top: 5%;
    left: 8%;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:#274C5B;
}

.hamid4-products-grid>div>img {
    position: relative;
    top: 15%;
}
.hamid4-products-grid>div>span {
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 8%;
    bottom: 14%;
}

.hamid4-products-grid>div>hr {
    border: 1px solid #DEDDDD;
    position: absolute;
    width: 84%;
    left: 8%;
    bottom: 10%;

}
.hamid4-prices {
    bottom: 4%;
    display: flex;
    align-items: center;
    margin: 0 8%;
    position: absolute;
    width: 84%;
}
.hamid4-ex-price {
    text-decoration: line-through;
    color: #B8B8B8;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hamid4-current-price {
    margin-left: 2%;
    color: #274C5B;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hamid4-prices>img {
    margin-left: auto;
}

/* END OF SHOP PAGE */




/* START OF SHOP SINGLE PAGE */

/* baner style start */

.hamid3-header-container {
    width: 100%;
    background-color: #fff;
}
.hamid3-head-baner {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid3-head-img {
    height: auto;
    width: 100%;
}
.hamid3-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid3-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */

.hamid3-my-container {
    width: 70%;
    margin: 0 auto;
}

.hamid3-product-select {
    margin-top: 8%;
    width: 100%;
    min-height: 600px;
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 45% 51%;
    column-gap: 4%;
}

.hamid3-product-img {
    /* max-width: 600px; */
    border-radius: 2vw;
    background: url(/img/shop/products/Photo-3.svg), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: var(--clr-white-gray);
    position: relative;
}

.hamid3-name {
    background-color: #274C5B;
    padding: 1% 2%;
    top: 5%;
    left: 5%;
    border-radius: 0.5vw;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.hamid3-product-text {
    /* background-color: lightgreen;  */
    display: flex;
    align-items: center;
}
.hamid3-prices-container {
    padding-right: 5%;
}

.hamid3-prices-container>h3 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.4vw;
}

.hamid3-product-prices>span:first-child {
    color: #B8B8B8;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
    margin-right: 0.3vw;
}

.hamid3-product-prices>span:last-child {
    color: #274C5B;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hamid3-prices-container>p {
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid3-pick-scale{
    display: flex;
    align-items: center;
    gap: 0.9vw;
}
.hamid3-pick-scale>span {
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hamid3-pick-scale>input {
    height: min(7.5vh, 4.3vw);
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 6.8vw;
    padding: 1.4vw 1vw 1.4vw 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: .7vw;
    border: 2px solid #274C5B;
    background: #FFF;   
}
.hamid3-pick-scale>button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


.hamid3-product-inf {
    width: 80%;
    margin: 4vw auto 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hamid3-product-inf>p {
    text-align: center;
}
.hamid3-buttons-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.1vw;
}
.hamid3-buttons-box>button {
    margin-right: .8vw;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 80px;
}

.hamid3-product-inf>.hamid3-buttons-box>button:first-child {
    width: 31%;
}

.hamid3-product-inf>.hamid3-buttons-box>button:last-child {
    width: 25%;
    background-color: var(--clr-white-green);
    color: var(--clr-blue);
}

.hamid3-product-inf>p {
    color: #525C60;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid3-related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamid3-related-products>h1 {
    color: #274C5B;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hamid3-products-grid {
    padding: 2.5% 0 1.5%;
    width: 100%;
    height: auto;
    display: grid;
    /* grid-template-columns: 310px 310px 310px 310px; */
    grid-template-columns: auto auto auto auto ;
    column-gap: 1%;
}

.hamid3-products-grid>div {
    background: url(/img/shop/products/Photo-1.svg), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--clr-white-gray);
    position: relative;
    border-radius: 1.5vw;
    height: 480px;
    max-width: 340px;
}

.hamid3-products-grid>div:nth-child(2){
    background-image: url(/img/shop/products/Photo-2.svg);
}
.hamid3-products-grid>div:nth-child(3){
    background-image: url(/img/shop/products/Photo-3.svg);
}
.hamid3-products-grid>div:nth-child(4){
    background-image: url(/img/shop/products/Photo-4.svg);
}

.hamid3-name{
    display: flex;
    padding: 2% 4%;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;
    position: absolute;
    top: 5%;
    left: 8%;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:#274C5B;
}

.hamid3-products-grid>div>img {
    position: relative;
    top: 15%;
}
.hamid3-products-grid>div>span {
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 8%;
    bottom: 14%;
}

.hamid3-products-grid>div>hr {
    border: 1px solid #DEDDDD;
    position: absolute;
    width: 84%;
    left: 8%;
    bottom: 10%;

}
.hamid3-prices {
    bottom: 4%;
    display: flex;
    align-items: center;
    margin: 0 8%;
    position: absolute;
    width: 84%;
}
.hamid3-ex-price {
    text-decoration: line-through;
    color: #B8B8B8;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hamid3-current-price {
    margin-left: 2%;
    color: #274C5B;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hamid3-prices>img {
    margin-left: auto;
}


/* END OF SHOP SINGLE PAGE */




/* START OF PORTFOLIO PAGE */

.hamid2-header-container {
    width: 100%;
    background-color: var(--clr-white-green);
    height: auto;
}


/**************************************************************************************************/

/* baner style start */

.hamid2-head-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid2-head-img {
    height: auto;
    width: 100%;
}

.hamid2-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid2-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */


/* main start */
.hamid2-experts h5 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hamid2-big-p {
    color: var(--clr-blue);
    font-family: Roboto;
    font-size: min(50px, 12vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hamid2-small-p {
    margin-top: 2%;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid2-experts h3 {
    color: var(--clr-green);
    font-family: Yellowtail;
    font-size: min(9vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamid2-my-container {
    width: 70%;
    margin: 0 auto;
}
.hamid2-experts>.hamid2-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid2-experts {
    margin-top: 4vw;
    min-height: 120vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.hamid2-experts>.hamid2-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid2-experts-text {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.hamid2-experts-grid {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
}

.hamid2-expert-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 50vh;
    background-color: #fff;
    border-radius: 5%;
    transition: 250ms ease all;
}

.hamid2-expert-box>img {
    object-fit: contain;
    border-radius: 5%;
    width: 100%;

}

.hamid2-expert-box h3 {
    text-align: left;
    font-size: 22px;
}

.hamid2-experts-desc {
    padding: 5% 0 5% 0;
}
.hamid2-expert-socials{
    position: absolute;
    bottom: 4%;
    right: 9%;
    z-index: 1;
    white-space: nowrap;
}

.hamid2-expert-socials a {
    margin-right: 10%;
}


.hamid2-expert-socials a img {
    scale: 0.85;
}


/* end of experts section */


/* main end */


/* END OF PORTFOLIO PAGE */



/* START OF OUR-TEAM PAGE */

.hamid1-header-container {
    width: 100%;
    background-color: var(--clr-white-green);
    height: auto;
}


/**************************************************************************************************/

/* baner style start */

.hamid1-head-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid1-head-img {
    height: auto;
    width: 100%;
}

.hamid1-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid1-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */


/* main start */
.hamid1-experts h5 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hamid1-big-p {
    color: var(--clr-blue);
    font-family: Roboto;
    font-size: min(50px, 12vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hamid1-small-p {
    margin-top: 2%;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid1-experts h3 {
    color: var(--clr-green);
    font-family: Yellowtail;
    font-size: min(9vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamid1-my-container {
    width: 70%;
    margin: 0 auto;
}
.hamid1-experts>.hamid1-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid1-experts {
    margin-top: 7vw;
    min-height: 120vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.hamid1-experts>.hamid1-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid1-experts-text {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.hamid1-experts-grid {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 2%;
}

.hamid1-expert-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 55vh;
    background-color: var(--clr-white-gray);
    border-radius: 5%;
    transition: 250ms ease all;
}

.hamid1-expert-box>img {
    object-fit: contain;
    border-radius: 5% 5% 0 0;
    width: 100%;

}

.hamid1-expert-box h3 {
    text-align: left;
    font-size: 22px;
}

.hamid1-experts-desc {
    padding: 5% 0 5% 7%;
}
.hamid1-expert-socials{
    position: absolute;
    bottom: 4%;
    right: 9%;
    z-index: 1;
    white-space: nowrap;
}

.hamid1-expert-socials a {
    margin-right: 10%;
}


.hamid1-expert-socials a img {
    scale: 0.85;
}

.hamid1-expert-box:hover{
    background-color: #fff;
    box-shadow: 0px 10px 100px 2px rgba(0, 0, 0, 0.25);
}
/* end of experts section */


/* END OF OUR TEAM PAGE */



/*********************************** footer styless part ******************************************/
.default-site-footer-box {
    gap: 2.8vw;
}

.footer-container {
    width: 100%;
    height: 70vh;
    gap: 10vh;
}

.default-site-footer {
    position: relative;
    width: 100%;
    height: 100vh;
    gap: 10vh;
}

.footer-copyright {
    width: 100%;
    height: 5vh;
    gap: .2vw;
}

.footer-text-box-2,
.footer-text-box,
.footer-copyright-box,
.footer-container,
.default-site-footer,
.footer-content-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-box-2 {
    gap: 2vh;
}

.footer-copyright-box {
    width: 100%;
    height: min(5vh,3.2vw);
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.footer-content-box {
    height: 33.7vh;
    justify-content: start;
    gap: 3vh;
}

.text-align-center {
    width: 26vw;
    text-align: center;
}

.text-align-start {
    width: 12vw;
    text-align: start;
}

.text-align-end {
    text-align: end;
}

.footer-form-container {
    width: 72vw;
    height: 30vh;
    padding: min(7vh, 3.7vw);
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/defaults/footer-bg-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 250ms ease all;
}

.footer-vertical-hr {
    width: .1px;
    height: 32vh;
    background: #D4D4D4;
}

.footer-subscribe-text {
    color: white;
    color: #FFF;
    font-family: 'Roboto';
    font-size: min(4.89vh, 2.69vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-h1 {
    color: var(--clr-blue);
    font-family: 'Roboto';
    font-size: min(3.1vh, 1.59vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-social {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-social-icon:hover {
    cursor: pointer;
    box-shadow: -3px 2px 10px #e0dddd;
}

.footer-social-icon {
    padding: 20px;
    font-size: min(2vh, 1.1vw);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--clr-white-green);
    color: var(--clr-blue);
}

.footer-p {
    color: #525C60;
    font-family: 'Open Sans';
    font-size: min(1.8vh, .9vw);
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}

.footer-span {
    color: #525C60;
    font-family: 'Open Sans';
    font-size: min(1.8vh, .9vw);
    font-style: normal;
    font-weight: 700;
    line-height: 165.4%;
}

.footer-hr {
    width: 100%;
    height: .1px;
    background-color: #D4D4D4;
}

.footer-form-button {
    width: min(22vh, 11.5vw);
    height: min(7.5vh, 4.3vw);
    border-radius: min(1.5vh, .8vw);
    background-color: var(--clr-blue);
    color: white;
    font-family: 'Roboto';
    font-size: min(2vh, 1vw);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-form-input:hover,
.footer-form-button:hover {
    box-shadow: -1px 3px 10px #fff;
    /* text-shadow: -1px 1px 1px #afaaaa; */
}

.footer-form-input:focus{
    outline: none;
    color: #000;
    background-color: rgb(241, 241, 241);
}

.footer-form-container:hover {
    box-shadow: -1px 2px 10px #afaaaa;
}

.footer-form {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: min(.5vh, .3vw);
    width: calc(min(20vh, 11vw) + min(40vh));
}

.footer-form-input {
    padding-left: min(2vh, 1vw);
    width: min(34vh, 18vw);
    height: min(7.5vh, 4.3vw);
    border-radius: min(1.5vh, .8vw);
    color: #D4D4D4;
    font-family: 'Roboto';
    font-size: min(1.8vh, .9vw);
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

/**************************************************************************************************/
@media (max-width: 1394px) {
    .hamid-offers-content{
        padding-top: 20px;
    }
    .hamid-offers-grid-box {
        grid-template-columns: 320px 320px;
        justify-content: center;
        min-height: 750px;

    }
}

@media (max-width: 1199.98px) {
    .hamid-my-container {
        width: 80%;
    }


    .hamid-plate-box {
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    
    }
    

    .hamid-plate-img>img {
        width: 120%;
        height: auto;
        left: -20%;
    }
    
    .hamid-plate-txt {
        text-align: center;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        max-width: 100%;
    }


    .hamid-hamid-offers,
    .hamid-experts,
    .hamid-veg-background,
    .hamid-my-container {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
    }

    .hamid-icon-section {
        margin-top: 5%;
        display: flex;
    }
    .hamid-tractor-part {
        gap: 2%;
        display: flex;
    }
    
    .hamid-tractor-part>span{
        width: 80%;
    }
    
    .hamid-chemic-part {
        display: flex;
        gap: 2%;
    }
    
    .hamid-chemic-part>span {
        margin-left: auto;
        width: 80%;
    }
    
    .hamid-plate-txt>button{
        position: relative;
        top: -15px;
        margin-left: auto;
        margin-right: auto;
        scale: 1.5;
        margin-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

    .hamid-plate-box{
            padding-bottom: 5vh;
    }

    .hamid-experts{
        margin: 10vh 0;
    }
}
@media (max-width: 991.98px) {
    .hamid-my-container {
        width: 85%;
    }
    .hamid-veg-background{
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 140vh;
        background-color: var(--clr-white-gray);
        padding-bottom: 50vh;
    }

    .hamid-veg-background>.hamid-my-container {
        height: auto;
    }
    .hamid-decide {
        padding-top: 7vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* min-height: 50vh; */
    
    }
    

    .hamid-decide-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .hamid-decide-img {
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    
    }
    .hamid-decide-img>img {
        margin-left: 0;
    }

    .hamid-decide-container-small {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 75%;
    
    }
    .hamid-decide-span{
        font-size: 25px;
    }

    .hamid-p-last-child {
        margin: 3.5vw 0 0vw 0;
        text-align: left;
        border-left: solid 5px var(--clr-green);
        margin-left: 0;
        padding-left: 2vw;
    }

    .hamid-veg-grid-container {
        margin: 10vh auto;
        width: 80%;
        background-color: var(--clr-white-gray);
        min-height: 30vh;
    }

    .hamid-veg-grid-box{
        justify-content: center;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 3%;
        row-gap: 10%;
    }

    .hamid-veg-grid-box div {
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 2.5vw;
        height: 100%;
        background-color: #fff;
    
    }
    .hamid-experts-grid {
        grid-template-columns: 40% 40%;
        justify-content: center;
        padding-bottom: 20px;
    }
}  


@media (max-width: 767.98px) {
    .hamid-plate-img{
        left: -12%;
    }
    .hamid-plate-img>img{
        width: 160%;
    }
    #hamid-casual-button {
        width: 120px;
        font-size: 10px;
        height: 30px;
    }

    .hamid-veg-background{
        padding-bottom: 156vh;
    }
    
    .hamid-decide-span{
        font-size: max(15px, 2vw);
    }
    .hamid-offers-box {
        min-width: 240px;
        height: 300px;
    }
    .hamid-offers-content{
        margin: 10vh 0; 
    }
    .hamid-offers-grid-box {
        grid-template-columns: 240px;
        min-height: 1300px;
        gap: 1.5%;
    }


    .hamid-experts{
        min-height: 200vh;
    }

    .hamid-experts-grid {
        grid-template-columns: 255px;
        justify-content: center;
        padding: 20px 0;
    }
    .hamid-expert-box{
        min-height: 65vh;
    }

    .hamid-veg-grid-box {
        justify-content: center;
        height: 100%;
        display: grid;
        grid-template-columns: 255px;
        grid-template-rows: 250px 250px 250px 250px ;
        gap: 20px;
    }
    .hamid-icon-section{
        display: flex;
        flex-direction: column;
        gap: 5vw
    }

    .hamid-decide-container-small{
        max-width: 100%;
    }

    .hamid-decide-img{
        margin: 20% auto 10%;
    }
    .hamid-decide-img>img{
        scale: 1.2;
    }
    .hamid-icon-section span{
        font-size: min(25px, 4vw);
    }

    .hamid-big-p {
        font-size: min(8vw, 50px); 
    }
}
