/* START OF PORTFOLIO PAGE */

.hamid2-header-container {
    width: 100%;
    background-color: var(--clr-white-green);
    height: auto;
}


/**************************************************************************************************/

/* baner style start */

.hamid2-head-baner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid2-head-img {
    height: auto;
    width: 100%;
}

.hamid2-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid2-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */


/* main start */
.hamid2-experts h5 {
    color: #274C5B;
    font-family: Roboto;
    font-size: min(25px, 2vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hamid2-big-p {
    color: var(--clr-blue);
    font-family: Roboto;
    font-size: min(50px, 12vw);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hamid2-small-p {
    margin-top: 2%;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid2-experts h3 {
    color: var(--clr-green);
    font-family: Yellowtail;
    font-size: min(9vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hamid2-my-container {
    width: 70%;
    margin: 0 auto;
}
.hamid2-experts>.hamid2-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid2-experts {
    margin-top: 4vw;
    min-height: 120vh;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.hamid2-experts>.hamid2-my-container{
    background-color: #fff;
    text-align: center;
}

.hamid2-experts-text {
    background-color: #fff;
    width: 60%;
    margin: 0 auto;
}

.hamid2-experts-grid {
    margin: 3% 0;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
}

.hamid2-expert-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 50vh;
    background-color: #fff;
    border-radius: 5%;
    transition: 250ms ease all;
}

.hamid2-expert-box>img {
    object-fit: contain;
    border-radius: 5%;
    width: 100%;

}

.hamid2-expert-box h3 {
    text-align: left;
    font-size: 22px;
}

.hamid2-experts-desc {
    padding: 5% 0 5% 0;
}
.hamid2-expert-socials{
    position: absolute;
    bottom: 4%;
    right: 9%;
    z-index: 1;
    white-space: nowrap;
}

.hamid2-expert-socials a {
    margin-right: 10%;
}


.hamid2-expert-socials a img {
    scale: 0.85;
}


/* end of experts section */


/* main end */


/* END OF PORTFOLIO PAGE */


@media (max-width: 1199.98px) {
    /* there is nothing */
}
@media (max-width: 991.98px) {
    .hamid2-experts-grid{
        grid-template-columns: 45% 45%;
        column-gap: 10%;

    }

    .hamid2-my-container {
        width: 80%;
    }
}
@media (max-width: 767.98px) {
    .hamid2-head-text {
        background-color:#fffdfdb9;
    }

    .hamid2-experts-grid {
        grid-template-columns: 250px;
        justify-content: center;
        row-gap: 5vh;
    }
    .hamid2-experts-desc h5{
        font-size: 20px;
    }
}