
/* START OF SHOP SINGLE PAGE */

/* baner style start */

.hamid3-header-container {
    width: 100%;
    background-color: #fff;
}
.hamid3-head-baner {
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-white-green);
    width: 100%;
    position: relative;
}
.hamid3-head-img {
    height: auto;
    width: 100%;
}
.hamid3-head-img2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.hamid3-head-text {
    position: absolute;
    z-index: 2;
    color: #274C5B;
    font-family: Roboto;
    font-size: min(10vw, 70px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

/* baner style end */

.hamid3-my-container {
    width: 70%;
    margin: 0 auto;
}

.hamid3-product-select {
    margin-top: 8%;
    width: 100%;
    min-height: 600px;
    /* background-color: royalblue; */
    display: grid;
    grid-template-columns: 45% 51%;
    column-gap: 4%;
}

.hamid3-product-img {
    /* max-width: 600px; */
    border-radius: 2vw;
    background: url(/img/shop/products/Photo-3.svg), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-color: var(--clr-white-gray);
    position: relative;
}

.hamid3-name {
    background-color: #274C5B;
    padding: 1% 2%;
    top: 5%;
    left: 5%;
    border-radius: 0.5vw;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.hamid3-product-text {
    /* background-color: lightgreen;  */
    display: flex;
    align-items: center;
}
.hamid3-prices-container {
    padding-right: 5%;
}

.hamid3-prices-container>h3 {
    color: #274C5B;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0.4vw;
}

.hamid3-product-prices>span:first-child {
    color: #B8B8B8;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
    margin-right: 0.3vw;
}

.hamid3-product-prices>span:last-child {
    color: #274C5B;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hamid3-prices-container>p {
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    color: #525C60;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid3-pick-scale{
    display: flex;
    align-items: center;
    gap: 0.9vw;
}
.hamid3-pick-scale>span {
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hamid3-pick-scale>input {
    height: min(80px, 4vw);
    color: #274C5B;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 6.8vw;
    padding: 1.4vw 1vw 1.4vw 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: .7vw;
    border: 2px solid #274C5B;
    background: #FFF;   
}
.hamid3-pick-scale>button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}


.hamid3-product-inf {
    width: 80%;
    margin: 4vw auto 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hamid3-product-inf>p {
    text-align: center;
}
.hamid3-buttons-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.1vw;
}
.hamid3-buttons-box>button {
    margin-right: .8vw;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 80px;
}

.hamid3-product-inf>.hamid3-buttons-box>button:first-child {
    width: 31%;
}

.hamid3-product-inf>.hamid3-buttons-box>button:last-child {
    width: 25%;
    background-color: var(--clr-white-green);
    color: var(--clr-blue);
}

.hamid3-product-inf>p {
    color: #525C60;
    text-align: center;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%; /* 29.772px */
}
.hamid3-related-products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hamid3-related-products>h1 {
    color: #274C5B;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hamid3-products-grid {
    padding: 2.5% 0 1.5%;
    width: 100%;
    height: auto;
    display: grid;
    /* grid-template-columns: 310px 310px 310px 310px; */
    grid-template-columns: auto auto auto auto ;
    column-gap: 1%;
}

.hamid3-products-grid>div {
    background: url(/img/shop/products/Photo-1.svg), lightgray 50% / cover no-repeat;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--clr-white-gray);
    position: relative;
    border-radius: 1.5vw;
    height: 480px;
    max-width: 340px;
}

.hamid3-products-grid>div:nth-child(2){
    background-image: url(/img/shop/products/Photo-2.svg);
}
.hamid3-products-grid>div:nth-child(3){
    background-image: url(/img/shop/products/Photo-3.svg);
}
.hamid3-products-grid>div:nth-child(4){
    background-image: url(/img/shop/products/Photo-4.svg);
}

.hamid3-name{
    display: flex;
    padding: 2% 4%;
    justify-content: center;
    align-items: center;
    border-radius: .5vw;
    position: absolute;
    top: 5%;
    left: 8%;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color:#274C5B;
}

.hamid3-products-grid>div>img {
    position: relative;
    top: 15%;
}
.hamid3-products-grid>div>span {
    color: #274C5B;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    left: 8%;
    bottom: 14%;
}

.hamid3-products-grid>div>hr {
    border: 1px solid #DEDDDD;
    position: absolute;
    width: 84%;
    left: 8%;
    bottom: 10%;

}
.hamid3-prices {
    bottom: 4%;
    display: flex;
    align-items: center;
    margin: 0 8%;
    position: absolute;
    width: 84%;
}
.hamid3-ex-price {
    text-decoration: line-through;
    color: #B8B8B8;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hamid3-current-price {
    margin-left: 2%;
    color: #274C5B;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hamid3-prices>img {
    margin-left: auto;
}


/* END OF SHOP SINGLE PAGE */














@media (max-width: 1199.98px) {
    .hamid3-products-grid{
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 3vw;
    }
    .hamid3-products-grid>div {
        max-width: 370px
    }
}





@media (max-width: 991.98px) {
    .hamid3-product-inf>.hamid3-buttons-box>button:first-child {
        width: 210px;
    }
    
    .hamid3-product-inf>.hamid3-buttons-box>button:last-child {
        width: 170px;
    }

    .hamid3-product-select{
        grid-template-columns: auto;
        grid-template-rows: 60% 25%;
        row-gap: 15%;
        margin-bottom: 15vh;
    }

    .hamid3-prices-container{
        gap: 2vh
    }

    .hamid3-pick-scale {
        margin-top: 3vh;
        margin-bottom: 3vh;
        justify-content: center;
    }
    .hamid3-pick-scale > input {
        height: 45px;
    }
    #hamid-casual-button {
        height: 45px;
    }
}



@media (max-width: 767.98px) {
    .hamid3-pick-scale > input {
        font-size: 15px;
        width: 60px;
    }
    #hamid-casual-button {
        width: 120px;
        font-size: 15px;
    }
    .hamid3-product-select{
        margin-bottom: 25vh;
        row-gap: 22vh;
    }
    .hamid3-my-container {
        width: 80%;
    }

    .hamid3-products-grid{

        grid-template-columns: auto;
    }

    .hamid3-products-grid>div {
        min-width: 100%;
    }   
    .hamid3-my-container h1 {
        font-size: min(50px, 9vw);

    }
}