<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="section">
        <div class="heading">
            <p class="grow">What we Grow</p>
            <p class="better">Better Agriculture for Better Future</p>
        </div>
        <div class="images">
        <div class="left">
            <div class="left1">
                <img src="Milk Bottle.png" alt="">
                <h2>Dairy Products</h2>
                <p class="prod">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                </p>
            </div>
            <div class="left1">
                <img src="Online Store.png" alt="">
                <h2>Store Services</h2>
                <p class="prod">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                </p>
            </div>
            <div class="left1">
                <img src="Icon.png" alt="">
                <h2>Delivery Services</h2>
                <p class="prod">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                </p>
            </div>
        </div>
        <img src="Image.png" alt="" class="immg">
        <div class="right">
            <div class="right1">
                <img src="Icon (1).png" alt="">
                <h2>Agricultural Services</h2>
                <p class="prodd">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                </p>
            </div>
            <div class="right1">
                <img src="Icon (2).png" alt="">
                <h2>Organic Products</h2>
                <p class="prodd">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                </p>
            </div>
            <div class="right1">
                <img src="Icon (3).png" alt="">
                <h2>Fresh Vegetables</h2>
                <p class="prodd">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                </p>
            </div>
        </div>
    </div>
    </div>
</body>
</html>