{% extends 'Base.html' %}

{% block header_container %}
{{ super() }}
<div class="header-container-licenses">
    <div class="image-licence">

    </div>
    <div class="all-licence">
        <div class="all-h1">
            <h1>Icon & Graphics</h1>
            <h1>Photography</h1>
            <h1>Font</h1>
        </div>
        <div class="licence-p">
            <div class="all-p">
                <p>
                    Icons and Graphics are manually designed by the <span class="victor">VictorFlow</span> Templates
                    team. You may download these and edit them to fit your website without asking for permission or
                    providing credit.
                    <br>
                    Upon purchasing Software UI Kit Template our team grants you a nonexclusive, worldwide copyright
                    license to download, copy, modify, and use the icons.
                </p>
                <p>
                    All images used in the Organick Webflow Template are licensed for free personal and commercial
                    use. If you'd like to use any specific image, you can check the licenses and download the images
                    for free on Unsplash, Pexels‍. And Freepik.
                </p>
                <h3 class="licence">
                    Unsplash
                </h3>
                <p>
                    Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7, Image 8, Image 9, Image 10, Image
                    11, Image 12, Image 13, Image 14, Image 15, Image 16, Image 17, Image 18, Image 19, Image 20,
                    Image 21, Image 22, Image 23, Image 24, Image 25,
                </p>
                <h3 class="licence">
                    Pixcel
                </h3>
                <p>
                    Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7, Image 8, Image 9, Image 10, Image
                    11, Image 12, Image 13, Image 14, Image 15, Image 16, Image 17,
                </p>
                <p>
                    Organick template uses free licensed Google Fonts. Please check <span class="font-color">Roboto,
                        Yellowtail</span>
                    and <span class="font-color">Open Sans.</span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}