{% extends 'Base.html' %}
{% block header_container %}
{{ super() }}
<div class="header-container-password">
    <div class="image-pasword">

    </div>
    <div class="content-pasword">
        <div class="pasword-content">
            <div class="imgage-fon">
                <img src="img/protected.svg" alt="">
            </div>
            <div class="text1">
                <h3>Password</h3>
                <form action="" class="form">
                    <input type="password" placeholder="Enter Your Password">
                </form>
                <button class="pasword">
                    Send Now <img src="img/arrow.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}