{% extends 'Base.html' %}
{% block header_container%}
{{ super() }}
<div class="header-container-services"><h1 class="services-h1">Services</h1></div>
{% endblock%}
{% block main_content %}
<div class="services-page-body" id="service">
    <div class="services-container">
        <div class="services-body">
            <div class="heading">
                <p class="grow">What we Grow</p>
                <p class="better">Better Agriculture for <br> Better Future</p>
            </div>
            <div class="service-images">
                {% macro left_part(class_name) -%}
                <div class="{{ class_name }}">
                    <div class="left1">
                        <div class="service-name-box">
                            <img src="{{ url_for('static', filename='img/services/icon.png') }}" alt="">
                            <a href="/service/dairy">Dairy Products</a>
                        </div>
                        <p class="prod">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                        </p>
                    </div>
                    <div class="left1">
                        <div class="service-name-box">
                            <img src="{{ url_for('static', filename='img/services/icon-2.png')}}" alt="">
                            <a href="/service/store">Store Services</a>
                        </div>
                        <p class="prod">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                        </p>
                    </div>
                    <div class="left1">
                        <div class="service-name-box">
                            <img src="{{ url_for('static', filename='img/services/icon-3.png') }}" alt="">
                            <a href="/service/delivery">Delivery Services</a>
                        </div>
                        <p class="prod">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. Sed ut perspiciatis
                        </p>
                    </div>
                </div>
                {%- endmacro %}
                {{ left_part('left') }}
                <div class="immg"></div>
                <div class="right-container">
                    {{ left_part('left display-none') }}
                    <div class="right">
                        <div class="right1">
                            <div class="service-name-box">
                                <img src="{{ url_for('static', filename='img/services/icon-4.png') }}" alt="">
                                <a href="/service/agricultural">Agricultural Services</a>
                            </div>
                            <p class="prod">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                            </p>
                        </div>
                        <div class="right1">
                            <div class="service-name-box">
                                <img src="{{ url_for('static', filename='img/services/icon-5.png') }}" alt="">
                                <a href="/service/products">Organic Products</a>
                            </div>
                            <p class="prod">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                            </p>
                        </div>
                        <div class="right1">
                            <div class="service-name-box">
                                <img src="{{ url_for('static', filename='img/services/icon-6.png')}}" alt="">
                                <a href="/service/fresh_vegetables">Fresh Vegetables</a>
                            </div>
                            <p class="prod">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptat accusantium doloremqlaudantium. <br> Sed ut perspiciatis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="services-button">Explore More <img src="{{ url_for('static', filename='img/main/aerrow.png') }}" alt="" class="page-2-aerrow"></button>
    </div>
    <div class="services-section-2">
        <div class="services-section-2-container">
            <div class="services-section-2-content">
                <div class="services-section-2-head">
                    <span class="services-italic-green">Organic Only</span>
                    <h1 class="services-blue-h1">Everyday Fresh & Clean</h1>
                </div>
                <p class="services-p">
                    Simply dummy text of the printing and typesetting industry. Lorem had ceased <br> 
                    to been the industry's standard dummy text ever since the 
                </p>
            </div>
            <button type="button" class="services-section-2-play-button"></div></button>
        </div>
    </div>
</div>
{% endblock %}