{% extends 'Base.html' %}
{% block header_container %}
<div class="hamid4-header-container">
    <!-- banner start -->
    <div class="hamid4-head-baner">
        <img src="{{ url_for('static', filename='img/img/shop/banner') }}.svg" alt="" class="hamid4-head-img">
        <img src="{{ url_for('static', filename='img/img/shop/Bg Patterns') }}.svg" class="hamid4-head-img2">
        <span class="hamid4-head-text">shop</span>
    </div>
    <!--banner end -->
</div>
{% endblock %}
{% block main_content %}
<main>
    <div class="hamid4-my-container">
        <div class="hamid4-products-grid">
            <a href="/shop/broccoli" class="hamid4-product1">
                <div class="hamid4-name">Vegetable</div>
                <span>Calabrese Broccoli</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$13.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/banana" class="hamid4-product2">
                <div class="hamid4-name">Fresh</div>
                <img src="" alt="">
                <span>Fresh Banana Fruites</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$14.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/white_nuts" class="hamid4-product3">
                <div class="hamid4-name">Millets</div>
                <img src="" alt="">
                <span>White Nuts</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$15.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/tomato" class="hamid4-product4">
                <div class="hamid4-name">Vegetable</div>
                <img src="" alt="">
                <span>Vegan Red Tomato</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$17.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/bean" class="hamid4-product5">
                <div class="hamid4-name">Health</div>
                <img src="" alt="">
                <span>Mung Bean</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$11.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/b_hazelnut" class="hamid4-product6">
                <div class="hamid4-name">Nuts</div>
                <img src="" alt="">
                <span>Brown Hazelnut</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$12.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/eggs" class="hamid4-product7">
                <div class="hamid4-name">Fresh</div>
                <img src="" alt="">
                <span>Eggs</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$17.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/z_s_e_rusk" class="hamid4-product8">
                <div class="hamid4-name">Fresh</div>
                <img src="" alt="">
                <span>Zelco Suji Elaichi Rusk</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$15.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/mung_bean" class="hamid4-product9">
                <div class="hamid4-name">Health</div>
                <img src="" alt="">
                <span>Mung Bean</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$11.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/w_hazelnut" class="hamid4-product10">
                <div class="hamid4-name">Nuts</div>
                <img src="" alt="">
                <span>White Hazelnut</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$12.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/f_corn" class="hamid4-product11">
                <div class="hamid4-name">Fresh</div>
                <img src="" alt="">
                <span>Fresh Corn</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$17.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </a>
            <a href="/shop/o_almonds" class="hamid4-product12">
                <div class="hamid4-name">Fresh</div>
                <img src="" alt="">
                <span>Organic Almonds</span>
                <hr>
                <div class="hamid4-prices">
                    <span class="hamid4-ex-price">$20.00</span>
                    <span class="hamid4-current-price">$15.00</span>
                    <img src="{{ url_for('static', filename='img/img/shop/products/Star') }}.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}